@import url("scss/css/Global.css");
/* CompiledCSS */
a {
  text-decoration: underline;
}

h1 {
  line-height: 160%;
}

a.l:hover {
  text-decoration: underline;
}

a.l {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

td {
  line-height: 160%;
}

div {
  line-height: 160%;
}

.unleaded {
  padding: 4px 15px 0 15px;
  margin: 0 0 0 0;
  font-size: 16px;
  font-weight: bold;
}

/* Start StyleCSS */
html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  -ms-overflow-style: scrollbar;
}

#CP_StyleContainer {
  position: relative;
}

#CP_StyleContainer.home #CP_Content {
  overflow: hidden;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 160%;
  font-family: "Rubik", sans-serif;
}

h1,
.h1 {
  font-size: 48px;
  font-weight: 300;
}

.thin {
  font-weight: 200;
}

.normal {
  font-weight: 400;
}

.thick {
  font-weight: 900;
}

.strong {
  font-weight: 700;
}

.btn {
  position: relative;
  text-decoration: none;
  outline: 0;
  padding: 5px 18px;
  border: 2px solid transparent;
}

.btn:focus,
.btn:hover:focus {
  outline: 0;
}

.btn:active {
  box-shadow: none;
}

.btn-default,
.btn-default:focus,
.btn-default:active {
  background: transparent;
}

.btn-default:hover,
.btn-default:active:hover {
  color: #fff;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  outline: 0;
}

.btn-primary:hover,
.btn-primary:active:hover {
  color: #fff;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 22px 34px;
  border-radius: 4px;
}

/* Margins */
.margin-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.margin-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.margin-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.margin-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.margin-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.margin-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.margin-60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.margin-top-0 {
  margin-top: 0px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-top-40 {
  margin-top: 40px !important;
}

.margin-top-50 {
  margin-top: 50px !important;
}

.margin-top-60 {
  margin-top: 60px !important;
}

.margin-top--60 {
  margin-top: -60px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-bottom-40 {
  margin-bottom: 40px !important;
}

.margin-bottom-50 {
  margin-bottom: 50px !important;
}

.margin-bottom-60 {
  margin-bottom: 60px !important;
}

.margin-bottom--60 {
  margin-bottom: -60px !important;
}

/* Header */
#CP_SkipNav {
  opacity: 0;
  left: 50%;
  top: -34px;
  min-width: 220px;
  margin-left: -110px;
  position: absolute;
  z-index: 100;
  border-radius: 0 0 4px 4px;
}

#CP_SkipNav:focus {
  opacity: 1;
  position: absolute;
  top: 0;
}

#CP_TopBar {
  padding: 15px 0;
  min-height: 35px;
  margin: 0;
  width: 100%;
  position: relative;
}

#CP_TopBar .links {
  text-align: right;
}

#CP_TopBar .links,
#CP_TopBar .buttons {
  height: 35px;
}

#CP_TopBar .fa {
  padding: 0 5px;
  font-size: 20px;
}

#CP_TopBar a:not(.btn) {
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  height: 35px;
  line-height: 35px;
  padding: 0 5px;
}

#CP_TopBar a span,
#CP_TopBar a .fa {
  display: block;
  height: 35px;
  line-height: 35px;
  float: left;
}

#CP_Header .container,
#CP_Header .container .clearfix {
  position: relative;
}

#CP_Header {
  background: #fff;
  z-index: 16;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#logo {
  text-decoration: none;
  float: left;
  display: block;
}

#logo h2 {
  margin: 15px 0;
  padding: 0;
  line-height: 30px;
  display: inline-block;
  font-weight: 400;
}

#logo h2:before {
  content: " ";
  float: left;
  display: block;
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

#logo img {
  max-width: 300px;
  max-height: 100px;
}

/* Homepage Slideshow */
#CP_Splash {
  display: none;
}

#CP_FeatureHome {
  border: none;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  height: 65vh;
  min-height: 400px;
}

#CP_FeatureHome .container {
  position: relative;
}

#CP_FeatureHome #Person {
  position: absolute;
  height: 100%;
  width: auto;
  right: -5px;
  bottom: 0;
}

.text-shadow {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

.box-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

#CP_FeatureHome .container {
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 4;
}

#CP_FeatureHome .container .row {
  width: calc(100% + 30px);
}

#CP_FeatureSub {
  color: #fff;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

#CP_Breadcrumbs {
  padding: 20px 0;
  position: relative;
}

#CP_Breadcrumbs .container {
  position: relative;
}

#CP_Breadcrumbs a {
  text-decoration: none;
  display: inline-block;
  line-height: 25px;
}

#CP_RssFeed,
#CP_Content,
#CP_Subscribe {
  background: #fff;
}

#CP_Help {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

#CP_FeatureSub #title {
  margin: 30px 0;
  padding: 0;
}

#services {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  position: relative;
}

#services .icon {
  text-align: right;
}

#sticky {
  position: sticky;
  top: 0;
}

#sticky #Person {
  max-height: 400px;
}

/* Modal */
body.modal-open {
  padding-right: 0 !important;
}

.modal-backdrop.in {
  opacity: 1;
}

.modal-content {
  width: inherit;
  height: inherit;
  margin: 0 auto;
  pointer-events: all;
  background: none;
  box-shadow: none;
  border: 0;
}

.modal-header {
  border-bottom: 0;
}

body.modal-open #CP_StyleContainer {
  overflow: hidden;
}

.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.vertical-align-center {
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}

.coffee {
  position: relative;
  max-width: 512px;
  height: 494px;
  margin: 0 auto;
}

.coffee img {
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -256px;
}

.imgScroll {
  position: absolute;
  top: 46px;
  left: 50%;
  margin-left: -168px;
  overflow: hidden;
  height: 335px;
  width: 335px;
  border-radius: 175px;
  animation: coffee 120s linear infinite;
}

@keyframes coffee {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.imgScroll .slide {
  background: url(/image/slide.png) repeat-x;
  height: 335px;
  width: 1695px;
  animation: slide 120s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-565px, 0, 0);
  }
}
/* Footer */
#social {
  text-align: right;
}

#social a {
  text-decoration: none;
  padding: 0 5px;
  font-size: 20px;
  line-height: 25px;
}

footer {
  color: #fff;
}

footer a,
footer a:focus {
  color: #fff;
}

footer hr {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* SmartMenu */
#Nav {
  border-radius: 0;
  position: absolute;
  right: 10px;
  top: 50%;
  min-height: 0;
  margin: -20px 0 0;
  display: block;
  z-index: 1005;
}

#Nav ul.nav.navbar-nav {
  display: none;
}

#siteManager,
img[src$="edithtml.gif"] {
  z-index: 1002 !important;
}

#MenuToggle {
  padding: 15px 10px;
  padding-right: 50px;
  line-height: 20px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  display: none;
}

#MenuToggle .fa-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

#CP_StyleOverlay {
  display: none;
}

body.blurFix #CP_StyleOverlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  cursor: pointer;
}

body.blurFix {
  overflow: hidden;
}

#CP_SmartMenu {
  box-sizing: border-box;
  position: relative;
  z-index: 9999;
}

#CP_SmartMenu,
#CP_SmartMenu ul,
#CP_SmartMenu li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: normal;
  direction: ltr;
  text-align: left;
}

#CP_SmartMenu ul {
  display: none;
  background: rgba(0, 0, 0, 0.05);
}

#CP_SmartMenu li,
#CP_SmartMenu a {
  position: relative;
}

#CP_SmartMenu a {
  display: block;
  transition: none;
}

#CP_SmartMenu a.disabled {
  cursor: default;
  color: #cccccc;
}

#CP_SmartMenu::after {
  content: "";
  display: block;
  height: 0;
  font: 0px/0 serif;
  clear: both;
  overflow: hidden;
}

#CP_SmartMenu *,
#CP_SmartMenu *::before,
#CP_SmartMenu *::after {
  box-sizing: inherit;
}

#CP_SmartMenu a,
#CP_SmartMenu a:hover,
#CP_SmartMenu a:focus,
#CP_SmartMenu a:active {
  padding: 15px 10px;
  color: #2d3e50;
  line-height: 20px;
  text-decoration: none;
}

#CP_SmartMenu a:hover {
  background: rgba(0, 0, 0, 0.025);
}

#CP_SmartMenu a .sub-arrow {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: auto;
  right: 10px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  font-size: 24px;
  text-align: center;
  text-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

#CP_SmartMenu a .sub-arrow:hover {
  background: #fff;
}

#CP_SmartMenu a .sub-arrow::before {
  content: " ";
  right: 50%;
  margin-right: -5px;
  top: 50%;
  margin-top: -1px;
  text-align: center;
  width: 10px;
  height: 2px;
  line-height: 50px;
  display: block;
  position: absolute;
}

#CP_SmartMenu a .sub-arrow::after {
  content: " ";
  right: 50%;
  margin-right: -1px;
  top: 50%;
  margin-top: -5px;
  text-align: center;
  width: 2px;
  height: 10px;
  line-height: 50px;
  display: block;
  position: absolute;
}

#CP_SmartMenu a.highlighted .sub-arrow::after {
  display: none;
}

#CP_SmartMenu li {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

#CP_SmartMenu > li:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

#CP_SmartMenu ul a,
#CP_SmartMenu ul a:hover,
#CP_SmartMenu ul a:focus,
#CP_SmartMenu ul a:active {
  font-weight: normal;
  border-left: 8px solid transparent;
  transition: all 0.3s ease;
}

#CP_SmartMenu ul ul a,
#CP_SmartMenu ul ul a:hover,
#CP_SmartMenu ul ul a:focus,
#CP_SmartMenu ul ul a:active {
  border-left: 16px solid transparent;
}

#CP_SmartMenu ul ul ul a,
#CP_SmartMenu ul ul ul a:hover,
#CP_SmartMenu ul ul ul a:focus,
#CP_SmartMenu ul ul ul a:active {
  border-left: 24px solid transparent;
}

#CP_SmartMenu ul ul ul ul a,
#CP_SmartMenu ul ul ul ul a:hover,
#CP_SmartMenu ul ul ul ul a:focus,
#CP_SmartMenu ul ul ul ul a:active {
  border-left: 32px solid transparent;
}

#CP_SmartMenu ul ul ul ul ul a,
#CP_SmartMenu ul ul ul ul ul a:hover,
#CP_SmartMenu ul ul ul ul ul a:focus,
#CP_SmartMenu ul ul ul ul ul a:active {
  border-left: 40px solid transparent;
}

@media (min-width: 992px) {
  /* Switch to desktop layout */
  #CP_SmartMenu a,
  #CP_SmartMenu a:hover,
  #CP_SmartMenu a:focus,
  #CP_SmartMenu a:active {
    padding: 10px 15px;
  }
  #CP_SmartMenu a:hover {
    background: transparent;
  }
  #CP_SmartMenu ul {
    position: absolute;
    width: 12em;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  #CP_SmartMenu li {
    float: left;
  }
  #CP_SmartMenu > li:last-child {
    border-bottom: 0;
  }
  #CP_SmartMenu ul li {
    float: none;
  }
  #CP_SmartMenu a {
    white-space: nowrap;
  }
  #CP_SmartMenu ul a {
    white-space: normal;
  }
  #CP_SmartMenu .sm-nowrap > li > a,
  #CP_SmartMenu .sm-nowrap > li > :not(ul) a {
    white-space: nowrap;
  }
  #CP_SmartMenu a.has-submenu,
  #CP_SmartMenu a.has-submenu.current {
    padding-right: 25px;
  }
  #CP_SmartMenu ul a:hover,
  #CP_SmartMenu ul a:focus,
  #CP_SmartMenu ul a:active,
  #CP_SmartMenu ul a.highlighted {
    color: #fff;
  }
  #CP_SmartMenu ul a:hover .sub-arrow,
  #CP_SmartMenu ul a:focus .sub-arrow,
  #CP_SmartMenu ul a:active .sub-arrow,
  #CP_SmartMenu ul a.highlighted .sub-arrow {
    border-left: 4px solid #fff;
  }
  #CP_SmartMenu a.disabled {
    background: #fff;
    color: #cccccc;
  }
  #CP_SmartMenu a .sub-arrow {
    top: 50%;
    margin-top: -3px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 0;
    border-top: 0;
    background: transparent;
    border-radius: 0;
  }
  #CP_SmartMenu a .sub-arrow:hover {
    background: transparent;
  }
  #CP_SmartMenu ul a .sub-arrow {
    margin-top: -5px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 0;
    right: 10px;
    display: block;
  }
  #CP_SmartMenu > li {
    border-top: 0;
  }
  #CP_SmartMenu > li:first-child {
    border-left: 0;
  }
  #CP_SmartMenu ul a {
    border: 0 !important;
  }
  #CP_SmartMenu ul a.has-submenu {
    padding-right: 25px;
  }
  #CP_SmartMenu ul > li {
    border-left: 0;
    border-top: 0;
  }
  #CP_SmartMenu ul > li:first-child {
    border-top: 0;
  }
  #CP_SmartMenu ul > li {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  #CP_SmartMenu .scroll-up,
  #CP_SmartMenu .scroll-down {
    position: absolute;
    display: none;
    visibility: hidden;
    overflow: hidden;
    background: #fff;
    height: 20px;
  }
  #CP_SmartMenu .scroll-up-arrow,
  #CP_SmartMenu .scroll-down-arrow {
    position: absolute;
    top: -2px;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 8px;
    border-style: dashed dashed solid dashed;
  }
  #CP_SmartMenu .scroll-down-arrow {
    top: 6px;
    border-style: solid dashed dashed dashed;
  }
}
@media (max-width: 1199px) {
  #homeServices h2 {
    font-size: 26px;
  }
  #homeServices h2 span {
    font-size: 34px;
  }
  a[name]:before {
    display: none;
  }
  #CP_FeatureHome .carousel-indicators {
    bottom: 20px !important;
  }
}
@media (max-width: 991px) {
  #MenuToggle {
    display: block;
  }
  #Nav {
    display: none;
    width: 400px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100% !important;
    background-color: #fff;
    z-index: 1003;
    overflow: auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    display: none;
    margin: 0;
  }
  #Toggle {
    display: inline-block;
  }
  h1,
  .h1 {
    font-size: 34px;
  }
  .lead {
    font-size: 18px;
  }
  #CP_FeatureHome {
    height: 70vh;
  }
  #CP_FeatureHome .container {
    align-items: flex-end;
    z-index: 4;
  }
  #CP_FeatureHome .container .tagline {
    text-align: center;
    padding: 60px 15px 20px;
  }
  #CP_FeatureHome #Person {
    right: 50%;
    transform: translateX(50%);
  }
  #logo {
    text-align: center;
    float: none;
  }
  #logo img {
    max-width: 100%;
  }
  #CP_Breadcrumbs {
    text-align: center;
  }
  #CP_Header .feature {
    display: none;
  }
  #CP_TopBar .container,
  #CP_TopBar .buttons,
  #CP_TopBar .links {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
  }
  #CP_TopBar .row {
    width: 100%;
    margin: 0;
  }
  #CP_TopBar a {
    flex: 1;
    text-align: center;
    position: relative;
  }
  #CP_TopBar a .fa {
    z-index: 2;
    position: relative;
    float: none;
  }
  #CP_Subscribe {
    text-align: center;
  }
  footer #social,
  footer {
    text-align: center;
  }
}
@media (max-width: 767px) {
  #CP_FeatureHome .container,
  #featureInternal .container {
    width: 100%;
  }
  #services {
    margin: auto 15px;
  }
  #services .icon,
  #services {
    text-align: center;
  }
}
@media (max-width: 450px) {
  #Nav {
    width: 90%;
  }
}
/* Global */
#content table {
  width: 100%;
}

#ServicesHub .shadows,
#ListSub .thumbborder.thumbpad,
#ListSub table td[width="2%"] {
  display: none;
}

#ServicesHub table td:first-child {
  display: none;
}

#ListSub table td {
  width: 100%;
  display: block;
  padding-top: 15px;
}

.hubsection {
  height: 80px;
  padding: 30px 0pt 20px;
  border-bottom: 1px solid #888888;
}

.thumbborder {
  background: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border: 1px solid #999;
  padding: 5px;
}

/* Map and Driving Directions */
#Map iframe,
#Directions .gadget,
#Directions iframe {
  width: 100%;
}

#Publications table {
  width: 100%;
  border: inherit;
  border-collapse: collapse;
}

#DueDates * {
  background: none;
  font-family: inherit;
  color: inherit;
}

#DueDates table {
  width: 100%;
  border-spacing: 0;
}

#DueDates table,
#DueDates tr,
#DueDates td {
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: collapse;
}

.taxratetable {
  font-size: inherit !important;
}

.taxratetable font {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

#TaxRates table {
  border: none;
  border-collapse: collapse;
}

/* Forms */
#Form table {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 15px auto;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

#Form table td {
  text-align: left;
  padding: 10px 0 0;
  display: block;
  border: none;
  border-collapse: collapse;
}

#Form table td:first-child {
  font-weight: bold;
}

#Form table input,
#Form table textarea {
  font-weight: normal;
}

br.clearfloat {
  display: none;
}

.thumbpad {
  display: block;
  float: left;
  margin-right: 20px;
}

#Newsletter table td[width="220"],
#Newsletter table td[width="20"] {
  display: none;
}

#Header,
#Footer {
  display: none;
}

.hubtab {
  padding: 0;
  text-shadow: none;
  border-radius: 0;
  box-shadow: none;
}

hr.headerline.cellcolor {
  display: none;
}

.headerline {
  box-shadow: none;
  clear: both;
  border: 0;
  height: 0;
  margin: 0;
  width: 100%;
}

@media (any-pointer: coarse), (any-hover: none) {
  .pattern-1, .pattern-2, .pattern-3, .pattern-4 {
    background-attachment: initial !important;
  }
}
/* Start MENU *//*# sourceMappingURL=compiled.css.map */