.leftquote,.rightquote{background-color:#fff;font-size:24px;color:#000;font-style:italic;line-height:150%;padding:5px 5px 5px 15px;width:275px;filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, Color=#25000000, Positive='true')}.GlobalBtn,.IL_Active a{text-transform:uppercase}#IL_Tabs a,.GlobalBtn,.hubtab{text-decoration:none}.leftquote{margin:10px 25px 10px 0;float:left;border:1px solid #666;-moz-border-radius:10px;-moz-box-shadow:5px 5px 5px rgba(0,0,0,.5);-webkit-border-radius:10px;-webkit-box-shadow:5px 5px 5px rgba(0,0,0,.5);border-radius:10px;box-shadow:5px 5px 5px rgba(0,0,0,.5)}.rightquote{margin:10px 0 10px 25px;float:right;border:1px solid #666;-moz-border-radius:10px;-moz-box-shadow:5px 5px 5px rgba(0,0,0,.5);-webkit-border-radius:10px;-webkit-box-shadow:5px 5px 5px rgba(0,0,0,.5);border-radius:10px;box-shadow:5px 5px 5px rgba(0,0,0,.5)}.hubtab,html>body .hubtab{min-width:30px;width:auto}.float-left,.hubtab,.thumbpad{float:left}.hubsection{height:80px;padding:30px 0 20px;border-bottom:1px solid #888}.thumbborder{background:#fff;-webkit-box-shadow:1px 1px 3px rgba(0,0,0,.5);-moz-box-shadow:1px 1px 3px rgba(0,0,0,.5);box-shadow:1px 1px 3px rgba(0,0,0,.5);border:1px solid #999;padding:5px}.hubtab{padding:.2em 1em .15em;text-shadow:0 1px 1px rgba(0,0,0,.3);-webkit-border-top-right-radius:.8em;-webkit-border-top-left-radius:.8em;-moz-border-radius-topright:.8em;-moz-border-radius-topleft:.8em;border-top-right-radius:.8em;border-top-left-radius:.8em;-webkit-box-shadow:.1em -.1em .2em rgba(0,0,0,.3);-moz-box-shadow:.1em -.1em .2em rgba(0,0,0,.3);box-shadow:.1em -.1em .2em rgba(0,0,0,.3)}.headerline{-webkit-box-shadow:.1em .1em .2em rgba(0,0,0,.3);-moz-box-shadow:.1em .1em .2em rgba(0,0,0,.3);clear:both;border:0;height:2px;margin:0 0 10px;width:100%}.roundcorner{-webkit-border-radius:.8em;-moz-border-radius:.8em;border-radius:.8em}.clearfloat{clear:both;height:0;font-size:1px;line-height:0}.thumbpad{display:block;width:78px;height:78px;margin-right:20px}.float-right,.floatRight{float:right}.floatLeft{float:left}.small{font-size:.8em}input,textarea{font:1em Arial,Helvetica,sans-serif;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}.Full{width:96%;margin:0 2%}.oneHalf{width:48%;margin:0 1%}.oneThird{width:31.333%;margin:0 1%}.twoThird{width:62.666%;margin:0 2%}.oneFourth{width:23%;margin:0 1%}.threeFourth{width:71%;margin:0 2%}.oneFifth{width:18%;margin:0 1%}.twoFifth{width:38%;margin:0 1%}.threeFifth{width:56%;margin:0 2%}.fourFifth{width:76%;margin:0 2%}.oneSixth{width:14.666%;margin:0 1%}.fiveSixth{width:79.333%;margin:0 2%}.oneEighth{width:10.5%;margin:0 1%}.threeEighth{width:35.5%;margin:0 1%}.fiveEighth{width:58.5%;margin:0 2%}.sevenEighth{width:83.5%;margin:0 2%}.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}* html .clearfix{zoom:1}table.gadget span.title{font-size:12px;margin:inherit;background:inherit;padding:inherit;color:inherit}table.gadget span.powered{font-size:10px;color:inherit}#IL{width:100%;margin:0 auto}#IL_Tabs{float:right;height:100%;margin-bottom:20px;margin-left:20px;width:30%}#IL_Tabs select{display:none}#IL_Tabs h3{background:0 0;margin:10px}#IL_Tabs ul{list-style:none;margin:0 0 10px;padding:0}#IL_Tabs li{padding:0 10px;border-bottom:1px solid #FFF;transition:background .3s;-moz-transition:background .3s;-o-transition:background .3s;-webkit-transition:background .3s}#IL_Tabs li:last-child{border-bottom:0 none}#IL_Tabs a{padding:12px 0;display:block;position:relative;background:0 0;transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s;-webkit-transition:all .3s}.IL_Active{background:#DDD}.IL_Active a{color:#000!important;background-color:none;font-weight:700}#IL_Tabs li:hover a{padding-left:5px;margin-right:-5px}#IL_Tabs li.IL_Active:hover a{padding-left:0;margin-right:0}#IL_Main h2{margin-bottom:10px}#IL_Search{margin-top:40px}#IL_Search label{line-height:30px;font-weight:700}#IL_Search input:not([type=submit]){height:30px;line-height:30px;width:180px}.GlobalBtn{display:inline-block;padding:0 10px;height:30px;text-align:center;font-weight:700;font-size:12px;line-height:30px;border:0;outline:0;cursor:pointer;box-shadow:1px 2px 2px #000;-moz-box-shadow:1px 2px 2px #000;-o-box-shadow:1px 2px 2px #000;-webkit-box-shadow:1px 2px 2px #000;transition:all .2s;-moz-transition:all .2s;-o-transition:all .2s;-webkit-transition:all .2s}.GlobalBtn:hover{box-shadow:1px 3px 3px #000;-moz-box-shadow:1px 3px 3px #000;-o-box-shadow:1px 3px 3px #000;-webkit-box-shadow:1px 3px 3px #000}.GlobalBtn:active{box-shadow:0 0 0 #000;-moz-box-shadow:0 0 0 #000;-o-box-shadow:0 0 0 #000;-webkit-box-shadow:0 0 0 #000}@media screen and (max-width:1064px){#IL_Tabs h3,#IL_Tabs li{display:none}#IL_Tabs select{display:block;width:100%;margin:0 0 20px;position:relative;left:-20px}#IL_Tabs{float:none;width:100%;background:0 0}#IL_Search label{display:block;margin-bottom:10px}#IL_Search input:not([type=submit]){width:180px}}.editable{min-height:30px}#ListBooks table{margin-bottom:20px;display:block;width:100%}#ListBooks table td{background:0 0!important;display:block;padding:0}#ListBooks table td font{color:revert;font-size:revert;font-family:revert;line-height:revert}#ListBooks b,#ListBooks font b{font-weight:400;text-align:left!important;display:block}#ListBooks>table>tbody>tr:nth-child(1)>td>center b,#ListBooks>table>tbody>tr:nth-child(1)>td>center>font>b{font-weight:400;font-size:1.6em;line-height:initial}#ListBooks>table>tbody>tr>td>center b,#ListBooks>table>tbody>tr>td>center>font>b{font-weight:700}#ListBooks img{margin:30px 20px 20px 0;-webkit-box-shadow:0 10px 15px rgb(0 0 0 / 50%);box-shadow:0 10px 15px rgb(0 0 0 / 50%);float:left}#ListBooks>table>tbody>tr:nth-child(2) td:nth-child(2),#ListBooks>table>tbody>tr:nth-child(2) td:nth-child(2) font{text-align:left!important;display:block}#ListBooks table{margin-bottom:20px;display:block;width:100%}#ListBooks table td{background:0 0!important;display:block;padding:0}#ListBooks table td font{color:revert;font-size:revert;font-family:revert;line-height:revert}#ListBooks b,#ListBooks font b{font-weight:400;text-align:left!important;display:block}#ListBooks>table>tbody>tr:nth-child(1)>td>center b,#ListBooks>table>tbody>tr:nth-child(1)>td>center>font>b{font-weight:400;font-size:1.6em;line-height:initial}#ListBooks>table>tbody>tr>td>center b,#ListBooks>table>tbody>tr>td>center>font>b{font-weight:700}#ListBooks img{margin:30px 20px 20px 0;-webkit-box-shadow:0 10px 15px rgb(0 0 0 / 50%);box-shadow:0 10px 15px rgb(0 0 0 / 50%);float:left}#ListBooks>table>tbody>tr:nth-child(2) td:nth-child(2),#ListBooks>table>tbody>tr:nth-child(2) td:nth-child(2) font{text-align:left!important;display:block}






























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































